[Desktop Entry]
Encoding=UTF-8
Name=Link to http://sensiolabs.com/images/fr/logo/header_logo.gif
Type=Link
URL=http://sensiolabs.com/images/fr/logo/header_logo.gif
Icon=(null)
Name[en_US]=sensio-labs.gif
